* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Golden Age'; 
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    background-image: url(Back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.instagram-wrapper {
    display: flex;
    color: rgb(82, 78, 78);
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
   
}

.instagram-phone {
    display: flex;
    align-items: ;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;

}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color:#c6b79a;
    width: 100%;
    color: #743030;
    border-radius: 10%;
    padding: 1.3rem 0;
    border: 5px  #743030;
    border-style: dashed;
}

.group2 {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color:#c6b79a;
    width: 100%;
    color: #743030;
    border-radius: 10%;
    padding: 1.3rem 0;
    border: 5px  #743030;
    border-style: dashed;
}

.group:nth-child(1) {
    min-height: 15rem;
}

.instagram-logo {
    height: 6rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    overflow: hidden;
    border-style: dashed;

}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #8f5841;
    color:#ffffff;
    padding: 10px;
    margin-top: 2rem;
    border: #743030;
    border-style: dashed;
  
}

.instagram-logout {
    color: #8f5841;
    margin-top: 2rem;
}

.not-account {
    color: #743030
    margin-top: 2rem;
}

.link-blue {
    color: #8f5841;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4rem 0;
}


}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ddc3b7;
    }

    .instagram-wrapper {
        width: 70%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 10px solid;
    }
}